<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRV9IGbJaEXWZuX8fowSUH8Pagy_mSNec</string>
	<key>GCM_SENDER_ID</key>
	<string>723921551698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddelivery</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-login-n-db</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-login-n-db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723921551698:ios:cbfb55cfdd42dcc510ba8b</string>
</dict>
</plist>